/*_______________________*/
/*叫んだーCSS             */
/*コンプラコミSTUDENT - No.4 */
/*Sakendaaa! CSS 2019(c) */
/*_______________________*/

body * p , a ,strong{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size :1.2rem;
	color:#fff;
}

/*メイン*/
body {
	background:#a20018;
	}

h1{
	font-size:2.0rem;
	}

h2{
	font-size:1.2rem;color:#ff4242;
	}
h3{
	font-size:1.1rem;color:#ffcccc;
}

strong{font-size:1.5rem;}

p .icon {margin:3px 15px;}

.kaom {
	color:#ff0000;
	font-size:1.2rem;
	font-weight:bold;
}

a:link {
	text-decoration:none;
	}

a:hover{
	text-decoration:none;
	color:#ffa3a3;
}

a:visited{
	text-decoration:none;
}

.fonfa{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size:3rem;
  	background: -webkit-linear-gradient(0deg, #cc0000, #ffffff, #ff0000);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	line-height:3.0rem;
}

.fonfas{
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	color:#cc0000;
	}

ul {
  list-style: none;
   margin:0px
   padding:0px
   text-align:left;
}

li{
	color:#fff;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size:1.2rem;
	padding:0;
}

hr.style-grd {
    border: 0;
    height: 1px;
    margin-top:15px;
    background: #660000;
    background-image: -webkit-linear-gradient(left, #660000, #ff0000, #660000);
    background-image:    -moz-linear-gradient(left, #660000, #ff0000, #660000);
    background-image:     -ms-linear-gradient(left, #660000, #ff0000, #660000);
    background-image:      -o-linear-gradient(left, #660000, #ff0000, #660000);
}

.aligncenter {
	text-align:center;
	}
@media only screen and (min-width: 480px) {
.sakebiarea{
	width:60%;
	background-color:#fff;
	color:#660000;
	text-align:left;
	border-radius: 1em;
	padding:20px 20px;
	line-height:1.8em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.username{font-size:1.2rem;}
.usertxt{font-size:1.2rem;color:#990000;}
.usertxt1{font-size:1.5rem;color:#cc0000;line-height:2.0rem;}
.usertxt2{font-size:2.0rem;color:#ff0000;line-height:3.0rem;}

.dotline{
	border-style:dashed;
	border-color:#efd1d1;
	width:98%;
}
}

@media only screen and (max-width: 480px) {
img {max-width: 100%;}
h3{font-size:0.9rem;color:#ffcccc;}
.sakebiarea{
	width:90%;
	background-color:#fff;
	color:#660000;
	text-align:left;
	border-radius: 1em;
	padding:20px 20px;
	line-height:1.8em;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.username{font-size:1.1rem;}
.usertxt{font-size:1.3rem;color:#990000;}
.usertxt1{font-size:1.6rem;color:#cc0000;line-height:2.0rem;}
.usertxt2{font-size:1.9rem;color:#ff0000;line-height:3.0rem;}
strong{font-size:1.2rem;}
.dotline{
	border-style:dashed;
	border-color:#efd1d1;
	width:98%;
}
}

/*form*/
.formf{
	font-size:1.1rem;
	color:#330000;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	}

.inpback{
	background-color:#cc6666;
	border-color:#660000;
	}

input#submit_button {
    padding: 2.2px 5px;
    font-size: 1.0rem;
    background-color:#ff0000;
    color:#fff;
    border:1px solid brown;
    border-radius:8px;
}
.sakebitxt{
	border-radius:8px;
	background-color:#000;
	color:#fff;
	padding:5px 5px;
	border:2px solid #cc0000;
	width:16rem;
	margin-bottom:8px;
	}

.linkb {
	display:block;
	width:10rem;
	border-radius:50px;
	padding:15px 15px;
	color:#fff;
	font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    box-shadow:0 2px 5px 2px #660000;
    background-image:-moz-linear-gradient(
    top,#ff0000 0%,#cc0000);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ff0000),to(#990000));
	text-shadow:0 -1px #9d2907;
	}

/*footer*/
.footerc{
	font-size:0.8rem;color:#660000;
	}

.pagetop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 5px;
}
.pagetop a {
    display: block;
    background-color: #660000;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    border-radius:50px;
}
.pagetop a:hover {
    display: block;
    background-color: #ff0000;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding:10px 15px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    border-radius:50px;
}
